@page "/order_page/{currentOrderId}"

@using CafeBlazor.DataBase
@inject CafeContext Context
@inject NavigationManager Navigation
@inject ISnackbar Snackbar

<PageTitle>СТРАНИЦА ЗАКАЗА</PageTitle>

<style>
    .paper {
        position: absolute;
        left: 180px;
        top: 100px;
        width: 1000px;
        height: 550px;
        box-shadow: rgb(38, 57, 77) 0px 5px 10px -0px;
        background-color: #fedcb7;
    }

    .mainLabel {
        text-align: center;
        margin-right: 90px;
        margin-bottom: 30px;
        font-size: 50px;
        font-weight: 500;
        color: #784421;
        text-decoration: underline;
        font-family: Andale Mono, monospace;
    }

    .labelText {
        font-size: 25px;
        font-weight: 500;
        color: #784421;
        margin-top: 10px;
        margin-bottom: 5px;
        margin-left: 7px;
    }

    .fieldsBlock {
        flex: 50%;
        margin-bottom: 30px;
        margin-left: 50px;
    }

    .listBlock {
        flex: 50%;
        text-align: center;
        margin-left: 50px;
        width: 400px;
        height: 400px;
    }

    .mainLabel {
        text-align: center;
        margin-left: 50px;
        margin-top: 30px;
        font-size: 50px;
        font-weight: 500;
        color: #784421;
        text-decoration: underline;
        font-family: Andale Mono, monospace;
    }
</style>

<MudPaper Class="paper">
    <div>
        <MudText Class="mainLabel">Заказ № @currentOrder.Id от @currentOrder.ReadyTime.ToString("g")</MudText>
    </div>
    <div class="mainBlock">
        <div class="fieldsBlock">
            <div>
                <MudText Class="labelText">Cумма заказа</MudText>
                <input @bind-value="@currentOrder.PurchaseAmount" readonly="true" />
            </div>
            <div>
                <MudText Class="labelText">Статус заказа</MudText>
                <input @bind-value="status" readonly="true" />
            </div>
        </div>
        <div class="tableBlock">
            <MudText Class="labelText">Список блюд заказа:</MudText>
            <MudTable T="Meal" Items="@mealList" @bind-SelectedItem="selectedItem" OnRowClick="@OnRowClick" Hover="true" Style="border: solid 1px #925831; border-radius: 5px; overflow: scroll; height: 317px">
                <RowTemplate>
                    <MudTd DataLabel="Title" Style="font-size: 20px;">@context.Title</MudTd>
                </RowTemplate>
            </MudTable>
        </div>
    </div>
</MudPaper>

@code {
    [Parameter]
    public string? currentOrderId { get; set; }

    private List<MealOrder> mealOrderList = new List<MealOrder>();
    private List<Meal> mealList = new List<Meal>();

    private Order currentOrder = new Order();
    private Meal selectedItem = new Meal();

    private string status = "";

    private bool _selectOnRowClick = true;

    protected override void OnInitialized()
    {
        GetData();
    }

    private void GetData()
    {
        currentOrder = Context.Orders.FirstOrDefault(x => x.Id == int.Parse(currentOrderId));
        mealOrderList = Context.MealOrders.Where(x => x.OrderId == int.Parse(currentOrderId)).ToList();
        status = Context.OrderStatuses.FirstOrDefault(x => x.Id == currentOrder.StatusId).ToString();

        foreach(MealOrder item in mealOrderList)
        {
            mealList.Add(Context.Meals.FirstOrDefault(x => x.Id == item.MealId));
        }
    }

    public async Task OnRowClick(TableRowClickEventArgs<Meal> args) => Navigation.NavigateTo($"/meal_page/{selectedItem.Id}");
}
